<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Dashboard</title>
</head>
<body align="center">
    <h1 align="center"> Notes Dashboard </h1>
    <hr>
    <table align="center" border="1">
        <tr>
            <th>Sr.No</th>
            <th>Title</th>
            <th>View Details</th>
            <!-- <th>Update note</th>
            <th>Delete note</th> -->
        </tr>
        {% for x in notes %}
            <tr>
                <td>{{x.id}}</td>
                <td>{{x.title}}</td>
                <td> <a href="/viewnotes/{{x.id}}"><button> DETAILS </button></a></td>
                <!-- <td> <a href="/updatenotes/{{x.id}}"><button> UPDATE </button></a></td>
                <td> <a href="/deletenotes/{{x.id}}"><button> DELETE </button></a> </td> -->
            </tr>
        {% endfor %}
    </table>
    <hr>
    <a align="center" href="/addnotes"><button>Add Another Note</button></a>
</body>
</html>